.board {
  --base-width: 50px;
  --color-white: #f5f5f5;
  --color-black: #353535;
}

.board[data-turn="white"] {
  --turn-color: var(--color-white);
}

.board[data-turn="black"] {
  --turn-color: var(--color-black);
}

.board[data-size="9"] {
  --base-width: 80px;
  --base-size: 9;
}

.board[data-size="13"] {
  --base-width: 60px;
  --base-size: 13;
}

.board[data-size="19"] {
  --base-width: 40px;
  --base-size: 19;
}

.board {
  width: calc(var(--base-width) * var(--base-size) + 20px);
  background-image: url("/images/board.jpg");
  padding: calc(var(--base-width) / 2 + 10px);
}

.board > .board-row {
  height: var(--base-width);
  width: calc(var(--base-width) * var(--base-size) - 2px);
  display: flex;
}

.board > .board-row > .board-col {
  height: var(--base-width);
  width: var(--base-width);
  border-top: 2px solid black;
  border-left: 2px solid black;
  position: relative;
}

.board > .board-row:last-of-type {
  height: 0;
}

.board > .board-row:last-of-type > .board-col {
  border-left-color: transparent;
  background: none;
}

.board > .board-row > .board-col:last-of-type {
  border-top-color: transparent;
  background: none;
}

.board > .board-row > .board-col > .star {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -6px;
  left: -6px;
  border-radius: 50%;
  background-color: black;
}

.board > .board-row > .board-col > .stone, 
.board > .board-row > .board-col > .liberty {
  height: calc(var(--base-width) - 2px);
  width: calc(var(--base-width) - 2px);
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: calc(var(--base-width) / 2 * -1);
  left: calc(var(--base-width) / 2 * -1);
  cursor: pointer;
}

.board > .board-row > .board-col > .liberty {
  border-color: transparent;
  background-color: transparent;
}

.board > .board-row > .board-col > .liberty:hover {
  border-color: black;
  background-color: var(--turn-color);
  opacity: 0.3;
}

.board > .board-row > .board-col > .stone.white {
  background-color: var(--color-white);
}

.board > .board-row > .board-col > .stone.black {
  background-color: var(--color-black);
}
